<div class="header-most-top">
    <p>Welcome to my store</p>
  </div>
  <!-- //top-header -->
  <!-- header-bot-->
  <div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
      <!-- header-bot-->
      <div class="col-md-4 logo_agile">
        <h1>
          <a href="<%= root_path %>">
            <span>H</span>ieu's
            <span>B</span>book
          </a>
        </h1>
      </div>
      <!-- header-bot -->
      <div class="col-md-8 header">
        <!-- header lists -->
        <ul>
          <li>
            <span class="fa fa-phone" aria-hidden="true"></span> 001 234 5678
          </li>
          <%if current_user %>
            <div class="dropdown-toggle" data-toggle="dropdown">
              <%= gravatar_for current_user, size: 40 %>
              <div class= "user_name">
                <%= current_user.name %>
                <span class="caret"></span>
              </div>
            </div>
            <div class="dropdown-menu">
              <%= link_to user_path(current_user) do %>
                <span><i class="fa fa-user fa-1x"></i></span>
                <%= t(".profile") %>
              <% end %>
            </div>
            <%= link_to logout_path, remote: true, id: "logout", data: current_user.id, method: :delete do %>
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> Log out
            <% end %>
          <% else %>
            <li>
              <a href="#" data-toggle="modal" data-target="#myModal1">
                <span class="fa fa-unlock-alt" aria-hidden="true"></span> Sign In </a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#myModal2">
                <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
            </li>
          <% end %>
        </ul>
        <!-- //header lists -->
        <!-- search -->
        <div class="agileits_search">
            <div class="search">
            <%= form_tag "/search", method: :get do %>
              <%= text_field_tag "search", nil, placeholder: "Enter search term...", name: "Search" %>
              <%= submit_tag "Search", class: "btn btn-primary" %><span class="fa fa-search" aria-hidden="true"> </span>
            <% end %>
            </div>
        </div>
        <!-- //search -->
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
          <div class="main-mailposi">
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
          </div>
          <div class="modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Sign In </h3>
            <p>
              Sign In now, Let's start your Grocery Shopping. Don't have an account?
              <a href="#" data-toggle="modal" data-target="#myModal2">
                Sign Up Now</a>
            </p>
            <%= render "layouts/form_login" %>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //Modal content-->
    </div>
  </div>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
          <div class="main-mailposi">
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
          </div>
          <div class="modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Sign Up</h3>
            <p>
              Come join the Grocery Shoppy! Let's set up your Account.
            </p>
            <%= render "layouts/form_signup" %>
            <p>
              <a href="#">By clicking register, I agree to your terms</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
